In [1]:
import pandas as pd
import sqlite3
from sqlalchemy import create_engine

In [2]:
csvdata = pd.read_csv("CSV_Data.csv")
webdata = pd.read_csv("WEB_Data.csv")
apidata = pd.read_csv("API_Data.csv")
csvdata = csvdata.drop(['Unnamed: 0'], axis=1)
webdata = webdata.drop(['Unnamed: 0'], axis=1)
apidata = apidata.drop(['Unnamed: 0'], axis=1)

In [3]:
engine = create_engine('sqlite://', echo=False)

In [4]:
csvdata.to_sql('csvdata', con=engine, if_exists='replace')
engine.execute("SELECT * FROM csvdata").fetchall()[:10]

[(0, 'California', 'Los Angeles ', 10105722, 4979641, 5126081, 4891169, 2678016, 798352, 20211, 1445118, 1717972, 788246),
 (1, 'Illinois', 'Cook ', 5238541, 2540704, 2697837, 1314873, 2236857, 1225818, 5238, 361459, 832928, 455753),
 (2, 'Texas', 'Harris ', 4525519, 2251060, 2274459, 1909769, 1384808, 837221, 9051, 307735, 760287, 289633),
 (3, 'Arizona', 'Maricopa ', 4155501, 2055464, 2100037, 1271583, 2339547, 211930, 62332, 162064, 652413, 249330),
 (4, 'California', 'San Diego ', 3283665, 1651147, 1632518, 1096744, 1517053, 154332, 13134, 377621, 436727, 233140),
 (5, 'California', 'Orange ', 3155816, 1558245, 1597571, 1079289, 1306507, 50493, 6311, 615384, 381853, 183037),
 (6, 'Florida', 'Miami-Dade ', 2702602, 1311997, 1390605, 1824256, 370256, 440524, 2702, 40539, 513494, 199992),
 (7, 'New York', 'Kings ', 2635121, 1247773, 1387348, 508578, 948643, 806347, 2635, 310944, 577091, 213444),
 (8, 'Texas', 'Dallas ', 2552213, 1257751, 1294462, 1010676, 770768, 564039, 5104, 153132, 451741, 150580),
 (9, 'California', 'Riverside ', 2355002, 1171711, 1183291, 1130400, 861930, 141300, 9420, 143655, 367380, 233145)]

In [5]:
webdata.to_sql('webdata', con=engine, if_exists='append')
engine.execute("SELECT * FROM webdata").fetchall()[:10]

[(0, 1, 'California', 'Los Angeles', 10039107, 4057.88, 2474.0),
 (1, 2, 'Illinois', 'Cook', 5150233, 945.33, 5448.0),
 (2, 3, 'Texas', 'Harris', 4713325, 1703.48, 2767.0),
 (3, 4, 'Arizona', 'Maricopa', 4485514, 9200.14, 488.0),
 (4, 5, 'California', 'San Diego', 3338330, 4206.63, 794.0),
 (5, 6, 'California', 'Orange', 3175692, 790.57, 4017.0),
 (6, 7, 'Florida', 'Miami-Dade', 2716940, 1897.72, 1432.0),
 (7, 8, 'Texas', 'Dallas', 2635516, 871.28, 3025.0),
 (8, 9, 'New York', 'Kings', 2559903, 70.82, 36147.0),
 (9, 10, 'California', 'Riverside', 2470546, 7206.48, 343.0)]

In [6]:
apidata.to_sql('apidata', con=engine, if_exists='replace')
engine.execute("SELECT * FROM apidata").fetchall()[:10]

[(0, '02/24/2021 03:00:00', 'Alabama', 'Autauga ', 6172.0, 85.0),
 (1, '02/24/2021 03:00:00', 'Alabama', 'Baldwin ', 19635.0, 272.0),
 (2, '02/24/2021 03:00:00', 'Alabama', 'Barbour ', 2095.0, 50.0),
 (3, '02/24/2021 03:00:00', 'Alabama', 'Bibb ', 2437.0, 59.0),
 (4, '02/24/2021 03:00:00', 'Alabama', 'Blount ', 6072.0, 125.0),
 (5, '02/24/2021 03:00:00', 'Alabama', 'Bullock ', 1165.0, 34.0),
 (6, '02/24/2021 03:00:00', 'Alabama', 'Butler ', 1951.0, 65.0),
 (7, '02/24/2021 03:00:00', 'Alabama', 'Calhoun ', 13090.0, 283.0),
 (8, '02/24/2021 03:00:00', 'Alabama', 'Chambers ', 3393.0, 103.0),
 (9, '02/24/2021 03:00:00', 'Alabama', 'Cherokee ', 1763.0, 38.0)]

In [7]:
# with sqlite3.connect("joineddata") as conn:
#     cursor = conn.cursor()
#     cursor.execute("""
#     SELECT 
#         webdata.Population,
#         webdata.Square_Miles,
#         webdata.Density,
#         apidata.Date,
#         apidata.Confirmed,
#         apidata.Deaths
#     FROM csvdata
#     LEFT JOIN webdata
#     ON csvdata.County = webdata.County
#     LEFT JOIN apidata
#     ON csvdata.County = apidata.County
# """
# )